/* Estilos para pantallas pequeñas (teléfonos) */
@media (max-width: 600px) {
    nav ul {
        flex-direction: column; /* Apila los elementos del menú verticalmente */
        text-align: center; /* Centra el texto */
    }

    .mapa-contacto {
        flex-direction: column; /* Apila el mapa y el formulario verticalmente */
    }

    .mapa,
    .contacto {
        width: 100%; /* Ocupa todo el ancho */
    }
}

/* Estilos para tabletas */
@media (min-width: 601px) and (max-width: 1024px) {
    /* Ajustes específicos para tabletas */
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 100;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    height: 100px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 30px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 13px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: color 0.3s ease;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

nav ul li a:hover {
    color: #b7c8db;
}

main {
    margin-top: 100px;
}

.logo {
    margin-right: 120px;
    padding-left: 35px;
    padding-right: 50px;
}

.logo img {
    height: 55px;
}

body {
    background-color: #d7d6db;
}

nav ul li a::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background-color: #007bff;
    transition: width 0.2s ease;
}

nav ul li a:hover::before {
    width: 100%;
}
.boton-redondeado {
    background-color: #007bff; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 20px; /* Bordes redondeados */
    text-decoration: none; /* Elimina el subrayado del enlace */
    transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

.boton-redondeado:hover {
    background-color: #66a3ff; /* Color de fondo al pasar el ratón */
}

.imagen-redondeada img {
    width: 100%;
    border-radius: 20px;
    display: block;
}

.imagen-redondeada {
    width: 95%;
    margin: 120px auto 20px auto;
    overflow: hidden;
}

h1 {
    font-family: 'Anton', sans-serif;
    font-size: 36px;
}

h2 {
    font-family: 'Anton', sans-serif;
    font-size: 36px;
}

h3 {
    font-family: 'Anton', sans-serif;
    font-size: 25px;
}

p {
    font-family: 'Anton', sans-serif;
    font-size: 17px;
    color: #333;
}

.imagenes-circulares {
    text-align: center;
    padding: 20px;
}

.imagenes-circulares h2 {
    margin-bottom: 20px;
}

.contenedor-imagenes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.imagen-info {
    display: flex;
    align-items: center;
    margin: 20px;
}

.imagen-info img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.texto-info {
    text-align: left;
}

/* Estilos para el mapa y el formulario de contacto */
.mapa-contacto {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.mapa {
    flex: 1;
}

.contacto {
    flex: 1;
    padding: 20px;
}

.contacto h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.contacto input,
.contacto textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.contacto button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.contacto input,
.contacto textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 20px; /* Ajusta este valor para cambiar la redondez */
}
.contacto button {
    background: linear-gradient(to right, #007bff, #66a3ff); /* Degradado de azul */
    color: white;
    padding: 12px 25px;
    border: none;
    cursor: pointer;
    border-radius: 25px; /* Más redondeado */
    font-size: 16px;
    font-weight: 600;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.contacto button:hover {
    transform: translateY(-3px); /* Ligero efecto de elevación */
    box-shadow: 0 5px 15px rgba(0, 123, 255, 0.4); /* Sombra al pasar el ratón */
}
.mapa-contacto {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background-color: #ffffffc5; /* Gris claro */
}

.mapa {
    flex: 1;
}

.contacto {
    flex: 1;
    padding: 20px;
}

.contacto h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.contacto input,
.contacto textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.contacto button {
    background: linear-gradient(to right, #007bff, #66a3ff);
    color: white;
    padding: 12px 25px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.contacto button:hover {
    transform: translateY(-3px);
    box-shadow: 0 7px 20px rgba(0, 123, 255, 0.5);
}
.mapa-contacto {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #F0F0F0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

.mapa {
    flex: 1;
}

.contacto {
    flex: 1;
    padding: 20px;
}

.contacto h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.contacto input,
.contacto textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.contacto button {
    background: linear-gradient(to right, #007bff, #66a3ff);
    color: white;
    padding: 12px 25px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.contacto button:hover {
    transform: translateY(-3px);
    box-shadow: 0 7px 20px rgba(0, 123, 255, 0.5);
}
.mapa iframe {
    border-radius: 15px; /* Ajusta este valor para cambiar la redondez */
}
.contacto input::placeholder,
.contacto textarea::placeholder {
    font-family: 'Anton', sans-serif; /* Reemplaza 'TuFuentePersonalizada' con la fuente que desees */
}

footer {
    background-color: #f0f0f0; /* Cambia el color de fondo */
    padding: 20px;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .footer-section {
    display: flex;
    align-items: center;
  }
  
  .footer-section img {
    width: 30px; /* Ajusta el tamaño del icono */
    margin-right: 10px;
  }
  
  .footer-social {
    display: flex;
    align-items: center;
  }
  
  .footer-social a {
    margin: 0 10px;
  }
  
  .footer-social img {
    width: 30px; /* Ajusta el tamaño del icono */
  }
  
  .copyright {
    font-size: 14px;
  }
